.card_box{
    display: flex;
    border: 1px solid #e5e5e5;
    padding: 10px;
   background-color: #fff;
    min-width: 32%;
    border-radius: 20px;
    align-items: center;
    min-height: 140px;
}
.card_title{
    margin-bottom: 8px;
    font-size: 16px;
    font-family: PingFang SC, PingFang SC-Bold;
    font-weight: 700;
    text-align: left;
    color: #1e04a8;
}
.card_num{
    margin-bottom: 5px;
    font-size: 20px;
    font-family: PingFang SC, PingFang SC-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
}
.probability{
    margin-bottom: initial;
    font-size: 14px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: left;
    color: #999999;
}
.card_img_box{
    width: 30%;
    display: flex;
    justify-content: center;
}